# Koşullu Eleman İşlemleri

In [4]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.random.randint(0,30, size=(10,3)),columns=["var1","var2","var3"])
df

   var1  var2  var3
0    11    11     3
1    17    29    19
2    26    15    25
3     7    28    10
4     1     0    18
5     2    17     8
6    16     0    26
7    23     4    24
8     1    16    24
9    14    19    10

In [9]:
df.loc[1:3]

   var1  var2  var3
1    17    29    19
2    26    15    25
3     7    28    10

In [14]:
df.loc[:]["var1"]

0    11
1    17
2    26
3     7
4     1
5     2
6    16
7    23
8     1
9    14
Name: var1, dtype: int32

In [27]:
df[df.var1>15]["var1"]

1    17
2    26
6    16
7    23
Name: var1, dtype: int32

In [48]:
df[(df.var1>15 ) & ( df.var1<20)][["var1","var2"]]

   var1  var2
1    17    29
6    16     0