# DataFrame Oluşturma

In [1]:
import pandas as pd

In [34]:
l=[[34,"İstanbul"],
   [16,"Bursa"]]

In [35]:
l

[[34, 'İstanbul'], [16, 'Bursa']]

In [39]:
df=pd.DataFrame(l,columns=["plaka","sehir"])
df

   plaka     sehir
0     34  İstanbul
1     16     Bursa

In [37]:
# df isimlendirme

In [40]:
df.head(1)

   plaka     sehir
0     34  İstanbul

In [41]:
df.tail()

   plaka     sehir
0     34  İstanbul
1     16     Bursa

In [42]:
df.columns

Index(['plaka', 'sehir'], dtype='object')

In [43]:
df.columns=("Plaka","Şehir")

In [44]:
df

   Plaka     Şehir
0     34  İstanbul
1     16     Bursa

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
df.axes

[RangeIndex(start=0, stop=2, step=1),
 Index(['Plaka', 'Şehir'], dtype='object')]

In [47]:
df.size

4

In [52]:
type(df.values)  #ndarray

numpy.ndarray

In [53]:
import numpy as np

In [54]:
a=np.array([1,2,3,4,5])

In [56]:
pd.DataFrame(a,columns=["sayilar"])

   sayilar
0        1
1        2
2        3
3        4
4        5