# Eksik Değerlerin İncelenmesi

In [1]:
# Veri Ön işeleme bölümümnde detaylı olarak ele alınacaktır.

In [3]:
import seaborn as sns
planets=sns.load_dataset("planets")
df=planets.copy()
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [4]:
#Veri setinde hiç eksik gözlem var mı?
df.isnull().values.any()

True

In [6]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [ ]:
#df["degisken_ismi"].fillna(0, inplace=True)  null olan değerlere 0 atamak 
# için uygulanır.
#bunun yerine ortalama değerler de kullanılabilir.

In [15]:
df["orbital_period"].fillna(0,inplace=True)
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [16]:
df["orbital_period"].fillna(planets["orbital_period"].mean(),inplace=True)
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [17]:
df["orbital_period"].mean()

1919.7045945178745